In [1]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Keats,-14.2500,129.5500,63.30,42,75,9.44,AU,2022-07-15 15:30:10
1,1,Punta Arenas,-53.1500,-70.9167,28.42,86,40,11.50,CL,2022-07-15 15:27:03
2,2,Qaanaaq,77.4840,-69.3632,49.50,60,100,9.53,GL,2022-07-15 15:30:11
3,3,Maldonado,-34.6667,-54.9167,55.22,93,100,3.06,UY,2022-07-15 15:30:11
4,4,Salalah,17.0151,54.0924,78.89,94,100,6.91,OM,2022-07-15 15:27:28

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Salalah,17.0151,54.0924,78.89,94,100,6.91,OM,2022-07-15 15:27:28
7,7,Kachiry,53.0675,76.1036,71.40,66,93,7.90,KZ,2022-07-15 15:30:12
9,9,Gorontalo,0.5412,123.0595,74.43,95,100,1.43,ID,2022-07-15 15:29:19
11,11,Maragogi,-9.0122,-35.2225,79.63,71,21,11.43,BR,2022-07-15 15:30:14
12,12,Saint-Philippe,-21.3585,55.7679,71.19,84,61,14.25,RE,2022-07-15 15:30:14
13,13,Bac Lieu,9.2850,105.7244,79.95,86,100,8.72,VN,2022-07-15 15:26:20
14,14,Bandarbeyla,9.4942,50.8122,78.75,80,100,30.58,SO,2022-07-15 15:25:19
19,19,Muscat,23.6139,58.5922,87.75,72,92,15.35,OM,2022-07-15 15:28:49
22,22,Souillac,-20.5167,57.5167,70.18,83,40,9.22,MU,2022-07-15 15:30:16
23,23,Bengkulu,-3.8004,102.2655,78.62,85,100,3.53,ID,2022-07-15 15:30:16

In [15]:
# Find any null values
preferred_cities_df.count()

City_ID       255
City          255
Lat           255
Lng           255
Max Temp      255
Humidity      255
Cloudiness    255
Wind Speed    255
Country       253
Date          255
dtype: int64

In [18]:
# drop any null values in rows
updated_cities_df = preferred_cities_df.dropna()
updated_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Salalah,17.0151,54.0924,78.89,94,100,6.91,OM,2022-07-15 15:27:28
7,7,Kachiry,53.0675,76.1036,71.40,66,93,7.90,KZ,2022-07-15 15:30:12
9,9,Gorontalo,0.5412,123.0595,74.43,95,100,1.43,ID,2022-07-15 15:29:19
11,11,Maragogi,-9.0122,-35.2225,79.63,71,21,11.43,BR,2022-07-15 15:30:14
12,12,Saint-Philippe,-21.3585,55.7679,71.19,84,61,14.25,RE,2022-07-15 15:30:14

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4          Salalah      OM     78.89  17.0151   54.0924
7          Kachiry      KZ     71.40  53.0675   76.1036
9        Gorontalo      ID     74.43   0.5412  123.0595
11        Maragogi      BR     79.63  -9.0122  -35.2225
12  Saint-Philippe      RE     71.19 -21.3585   55.7679
13        Bac Lieu      VN     79.95   9.2850  105.7244
14     Bandarbeyla      SO     78.75   9.4942   50.8122
19          Muscat      OM     87.75  23.6139   58.5922
22        Souillac      MU     70.18 -20.5167   57.5167
23        Bengkulu      ID     78.62  -3.8004  102.2655

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))